</section>
<div class="page_wrap">
    <div class="page_nation">
        {{#pages}}
            <a>{{.}}</a>
        {{/pages}}
    </div>
</div>
<span style="float: right; font-size: 12px">해당 사이트의 상품들은 유스토리의 상품들입니다. </span>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/app/items.js"></script>

</body>
</html>