<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>Challenge</h1>
<nav id="nav_upper" align="right">
    <a href="/items">home</a>
    {{#user}}
        <a href="/items">logout</a>
    {{/user}}
    {{^user}}
        <a href="/login">login</a>
        <a href="/register">register</a>
    {{/user}}
    <a href="/bag">bag</a>
</nav>
<section>
    <nav id="nav_category">
        <li><a href="/items?" class="active">All</a></li>
        <li><a href="/items?category=OUTER&page=1">Outer</a></li>
        <li><a href="/items?category=TOP&page=1">Top</a></li>
        <li><a href="/items?category=BOTTOM&page=1">Bottom</a></li>
        <li><a href="/items?category=SHOES&page=1">Shoes</a></li>
        <li><a href="/items?category=ACC&page=1">Acc</a></li>
        <li><a href="/items?category=WOMEN&page=1">Women</a></li>
        <br><br>
        <li><a>Notice</a></li>
        <li><a>Board</a></li>
    </nav>
