{{>layout/header}}
<div class="xans-element- xans-product xans-product-detail">
    <div class="detailArea">
        <div class="xans-element- xans-product xans-product-image imgArea">
            <div id="prdDetail">
                <div id="prddetailimg">
                    <p style="text-align: center;">
                        <img alt="" style="font-size: 9pt;"
                             src="{{detailItem.thumbnail}}">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="detail-right" style="bottom: inherit; top=0px;">
    <div id="detailinfo">
        <div class="infoArea">
            <input id="span-item-num" style="display:none;" value="{{detailItem.id}}">
            <div style="padding-bottom:15px" class="xans-element- xans-product xans-product-detaildesign">
                <table border="1" summary="">
                    <tbody>
                    <tr class=" xans-record-">
                        <th scope="row">
                            <span style="font-size:12px;color:#000000;">상품명</span>
                        </th>
                        <td style="padding-bottom:8px; text-align: center">
                            <span style="font-size:12px;color:#000000;">{{detailItem.name}}</span>
                        </td>
                    </tr>
                    <tr class=" xans-record-">
                        <th scope="row">
                            <span style="font-size:15px;color:#000000;">판매가</span>
                        </th>
                        <td scope="row" style="text-align: center">
                            <span style="font-size:15px;color:#000000;">{{detailItem.price}}원</span>
                        </td>
                    </tr>
                    <tr class=" xans-record-">
                        <th scope="row">
                            <span style="font-size:12px;color:#000000;">누적 판매량</span>
                        </th>
                        <td style="padding-bottom:8px; text-align: center">
                            <span style="font-size:12px;color:#000000;">{{detailItem.sales}} 개</span>
                        </td>
                    </tr>
                    <tr class=" xans-record-">
                        <th scope="row">
                            <span style="font-size:12px;color:#000000;">재고</span>
                        </th>
                        <td style="padding-bottom:8px; text-align: center">
                                <span style="font-size:12px;color:#000000;">{{detailItem.stockQuantity}} 개</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="option_bx">
    <ruler-numcoutbx _ngcontent-c35="" _nghost-c65="" class="ng-untouched ng-valid ng-dirty">
		<span _ngcontent-c65="" class="numcoutbx">
    	<button _ngcontent-c65="" type="button" id="btn-count-minus">-</button>
			<input _ngcontent-c65="" type="number" value="1" id="input-count" min="0" max="100" class="ng-untouched ng-pristine ng-valid">
			<button _ngcontent-c65="" type="button" id="btn-count-plus">+</button>
		</span>
    </ruler-numcoutbx>
</div>
<a id="a-bag" href=""><input id="btn-bag" type="button" value="Bag"></a>
{{>layout/footer}}