{{>layout/header}}
<section id="index-section">
    <span id ="index-title">Challenge</span><br><br>
    <span id="index-button"><a href="/items" style="color: black; text-decoration: none"> click >> </a></span>
</section>
{{>layout/footer}}