<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css?s">
</head>
<body>
<section id="index-section">
    <span id="index-title">Challenge</span><br><br>
    <span id="index-button"><a href="/products" style="color: black; text-decoration: none"> click >> </a></span>
</section>
</body>
</html>
