<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<h1>Challenge</h1>
<nav id="nav_upper" align="right">
    <a href="index.mustache">home</a> |
    <a href="login.html">login</a> |
    <a href="bag.html">bag</a> |
</nav>
<section>
    <nav id="nav_category">
        <li><a class="active">All</a></li>
        <li><a href="index.mustache">Best</a></li>
        <li><a>Outer</a></li>
        <li><a>Top</a></li>
        <li><a>Bottom</a></li>
        <li><a>Shoes</a></li>
        <li><a>Acc</a></li>
        <li><a>Women</a></li>
        <br><br>
        <li><a>Notice</a></li>
        <li><a>Board</a></li>
    </nav>
    <article>

    </article>
</section>
</body>

</html>
