{{>layout/header}}
    <article>
        <div class="ga09list">
            <ul class="grid4">
                {{#items}}
                    <li>
                        <div class="prdpadding">
                            <a href="detail?item-num={{id}}">
                            <div class="prdline hoverimg">
                                <img src= {{thumbnail}} width="100%"></div>
                            </a>

                            <p class="name">
                                <a href="detail?item-num={{id}}">
                                    <span style="font-size:12px;color:#000000;">{{name}}</span>
                                </a>
                            </p>
                            <p class="prices">
                                <a href="detail?item-num={{id}}">
                                <span style="font-size:12px;color:#000000;">{{price}}원</span>
                                </a>
                            </p>
                        </div>
                    </li>
                {{/items}}
            </ul>
        </div>
    </article>
{{>layout/footer}}
