{{>layout/header}}
<div class="ec-base-table">
    <table border="1" summary>
        <caption style="margin-bottom: 20px">회원가입</caption>
        <colgroup>
            <col style="width:150px">
            <col style="width:auto;">
        </colgroup>
        <tbody>
        <tr>
            <th scope="row">아이디
            </th>
            <td>
                <input id="user_id" name="user_memId" class="inputTypeText" value="" type="text">
                <span id="idMsg"></span>
            </td>
            <br>
        </tr>
        <tr>
            <th scope="row">비밀번호</th>
            <td>
                <input id="user_password" name="user_password" maxlength="16" type="password">
            </td>
        </tr>
        <br>
        <tr>
            <th scope="row" id="nameTitle">이름</th>
            <td>
                <span id="nameContents">
                    <input type="text" name="user_name" id="user_name" maxlength="20">
                </span>
            </td>
        </tr>
        <br>
        <tr class="">
            <th scope="row">주소</th>
            <td>
                <input id="user_address" name="user_address" maxlength="50" value="" type="text">
            </td>
        </tr>
        <br>
        <tr class="">
            <th scope="row">연락처</th>
            <td>
                <input id="user_phone" name="user_phone" maxlength="11" value="" type="text">
            </td>
        </tr>
        <tr class="">
            <th scope="row">이메일</th>
            <td>
                <input id="user_email" name="user_email" maxlength="20" value="" type="email">
            </td>
        </tr>
        </tbody>
    </table>
</div>
</section>
<section>
    <div id ="div-register"><input id="btn-register" type="button" value="Register" style="float:right;"></div>
{{>layout/footer}}